<div class="row fitjob-position">
    <div class="col-sm-4 position">
        <a href="/jobs"><img class="img-rounded img-responsive img-center frontpage-img" src="/assets/pic-1.jpg" alt="Cinque Terre" />
          <h2 class="text-center">体能康复师</h2>
        </a>
    </div>
    <div class="col-sm-4 position">
      <a href="/jobs"><img class="img-rounded img-responsive img-center frontpage-img" src="/assets/pic-2.jpg" alt="Cinque Terre" />
        <h2 class="text-center">脊柱护理师</h2>
      </a>

    </div>
    <div class="col-sm-4 position">
      <a href="/jobs"><img class="img-rounded img-responsive img-center frontpage-img " src="/assets/pic-3.jpg" alt="Cinque Terre" />
        <h2 class="text-center">常规训练师</h2>
      </a>
    </div>
</div>
