<div>
  <div class="container">
    <%= render :partial => "jobs/fit_job_intro" %>
  </div>
  <div>

    <div>

      <% if @query_string.blank? %>
      <div class="search-info-title">
        <h2 class="search-info-title">搜索信息不能为空，请输入关键字搜索.</h2>
      </div>

      <% elsif @jobs.blank? %>
      <br>
      <h2 class="search-info-title">没有要查询的职位信息，请重新输入</h2>
      <% else %>
      <%= render :partial => "jobs/job_list" %>
      <% end %>
      <div class="text-center">
        <%= will_paginate @jobs %>
      </div>
    </div>
  </div>
</div>
