<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title"></h1>
       <p class="slogan">
          每一次康复都是一个奇迹 &nbsp;&nbsp;&nbsp; 
       </p>
       <p class="lead">
         <%= link_to '加入 We Health', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>

   </div>

 </div>

<!-- <div class="banner-v2">
   <div class="banner-img">
     <img src="https://ww1.sinaimg.cn/large/006tNc79ly1fddhnk2fwwj31kw0lrwiv.jpg">

   </div>
   <div class="banner-detail">
     <-- <h2 class="banner-logo ">
       banke
     </h2> ->
     <div class="banner-slogan">
       <h2>
         给你健康加一份<span class="sub-slogan "> 温度</span>
       </h2>
     </div>
     <div class="sign-up-button">
         <a class="btn btn-default" href="/jobs">加入 We Health</a>
     </div>
   </div>
 </div>
-->
 <div align="center" style="padding-bottom:15px;">
   <h2 style="color:#d9082d;">** 热门职位 **</h2>
 </div>
 <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">体能康复师</h2>
          <p class="lead">
            <ul class="ulsize">
            <li>
              运动损伤非手术康复
            </li>
            <li>
              运动损伤术后康复
            </li>
            <li>
              运动障碍康复
            </li>
            <li>
              运动损伤评估及预防
            </li>
            <li>
              体能测试与提升
            </li>
            </ul>
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">脊柱护理师</h2>
          <p class="lead">
          <ul class="ulsize">
            <li>
              体态评估与分析
            </li>
            <li>
              生物力学分析
            </li>
            <li>
              脊柱手法护理
            </li>
            <li>
              脊柱调整训练
            </li>
          </ul>
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">常规训练师<br></h2>
          <p class="lead">
          <ul class="ulsize">
            <li>
              减脂训练
            </li>
            <li>
              增肌训练
            </li>
            <li>
              客户训练方案定制
            </li>
            <li>
              客户日常饮食跟踪
            </li>
          </ul>
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <!-- add sth -->
  <div class="container-fluid jumbotron2 text-center">
    <h2 class="candidates-review">We Health</h2>
  <div>
    <!-- Wrapper for slides -->
    <div>
      <div>
        <br/>
        <h4 class="saying"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          We体能康复中心以提供运动损伤治疗，脊柱调整护理，以及常规健身服务为理念。<br>
          <br /><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            为热爱体能康复的你提供优质的发展通道</span><br /><br />
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            全民健身的时代，让我们一起为健康保驾护航！</span>
        </h4>
      </div>

    </div>
  </div>
</div>

<div class="goTop" style="display: block;">
    <a href="#"><span class="fa fa-chevron-up"></span></a>
</div>
