<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">We Health Center</h1>
       <p class="slogan">We体能康复中心以提供运动损伤治疗，脊柱调整护理，以及常规健身服务为理念。
         <br>
         为广大的康复治疗师，脊柱护理人员以及健身教练提供了高薪且优质的发展通道。
         <br>
         全民健身的时代，让我们一起服务于运动康复!
       </p>
       <p class="lead">
         <%= link_to '马上应聘', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>

 <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">体能康复师</h2>
          <p class="lead">负责运动损伤、日常劳损的康复方案与治疗</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">脊柱护理师</h2>
          <p class="lead">负责客户的脊柱评估与体态调整护理</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">常规训练师<br></h2>
          <p class="lead">负责客户日常健身训练与饮食指导</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
