<!--<footer class="container" style="margin-top: 1px;">
    <p class="text-center" style="font-size: 16px;">Copyright ©2017 We Health
        <br>Design by Louis

    </p>
</footer>
-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row move-center" align="center">
                <div class="col-md-2 col-xs-4">
                  <h4>企业资源</h4>
                  <ul class="list-unstyled">
                    <li><a href="#s">线下培训</a></li>
                    <li><a href="#s">职业认证</a></li>

                  </ul>
                </div>
                <div class="col-md-2 col-xs-4">
                  <h4>精彩案例</h4>
                  <ul class="list-unstyled">
                    <li><a href="#s">伤病类别</a></li>
                    <li><a href="#s">运动类别</a></li>

                  </ul>
                </div>
                <div class="col-md-2 col-xs-4">
                  <h4>关于我们</h4>
                  <ul class="list-unstyled">
                    <li><a href="#s">公司介绍</a></li>
                    <li><a href="#s">FAQ</a></li>
                  </ul>
                </div>
                <div class="col-md-6 col-xs-12 footer-box">
                  <div class="footer-content">

                    <div class="goodjob">
                      <a href="https://fullstack.xinshengdaxue.com/works/336" target="_blank"><h4>晋升通道</h4></a>
                    </div>
                  </div>
                </div>
              </div>
                <hr>
                <p>
                Since from 2009 | Designed By Louis | Copyright ©2017 We Health
                </p>
          </div>
        </div>
    </div>
</footer>
